:root.theme-light {
  --background-color: #fff1f7;
  --background-image: url(../images/cover-image-light.png);
  --section-title-color: #353430;
  --title-color: #ffc2e6;
  --accent-color: #FF8DCB;
  --font-color: #353430;
  --button-color: #353430;
  --button-hover-color: rgba(50 49 45/ 0.4);
  --decor-color: #353430;
  --title-decor-color: #353430;
}

.theme-light .header__decorative-inscription {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fff1f7;
    --background-image: url(../images/cover-image-light.png);
    --section-title-color: #353430;
    --title-decor-color: #353430;
    --title-color: #ffc2e6;
    --accent-color: #FF8DCB;
    --font-color: #353430;
    --button-color: #353430;
    --button-hover-color: rgba(50 49 45/ 0.4);
    --decor-color: #353430;
  }

  .header__decorative-inscription {
    display: none;
  }
}